# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment Variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database
*.sqlite
*.db
dump.rdb
mongodb/

# Build files
build/
dist/
.DS_Store

# Socket.IO temporary files
socket.io/

# VS Code settings
.vscode/